input:focus {
    outline:none!important;
}

button {
    font-size: 15px;
    margin-left: 45%;
    padding: 10px 20px;
    background-color: #0082ff;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

button:hover {
    background-color: #0459a8;
    cursor: pointer;
}

button:active {
    background: #0686ff;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
  }